<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/header.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css">
</head>
<center>
  <div class="header">
    <a href="/" class="logo">National Parks</a>
    <div class="header-right">
      <a href="/states">Locations</a>
      <a href="/species">Species & Ecosytem</a>
      <a href="/things_to_do">Recreational Activities</a>
    </div>
  </div>
  <br></br>
  <h2>Recreational Activities</h2>

  <div class='tableauPlaceholder' id='viz1698542629326' style='position: relative'><noscript><a href='#'><img alt=' '
          src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ac&#47;ActivitiesTopicsToursforParks&#47;TopicsHeatmap&#47;1_rss.png'
          style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
      <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
      <param name='embed_code_version' value='3' />
      <param name='site_root' value='' />
      <param name='name' value='ActivitiesTopicsToursforParks&#47;TopicsHeatmap' />
      <param name='tabs' value='yes' />
      <param name='toolbar' value='yes' />
      <param name='static_image'
        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ac&#47;ActivitiesTopicsToursforParks&#47;TopicsHeatmap&#47;1.png' />
      <param name='animate_transition' value='yes' />
      <param name='display_static_image' value='yes' />
      <param name='display_spinner' value='yes' />
      <param name='display_overlay' value='yes' />
      <param name='display_count' value='yes' />
      <param name='language' value='en-US' />
    </object></div>
  <script
    type='text/javascript'>                    var divElement = document.getElementById('viz1698542629326'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</center>

</html>